* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.left-sec {
  background: hsla(210, 90%, 80%, 1);
  background: linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#9FCCFA", endColorstr="#0974F1", GradientType=1);
  padding: 20px;
}

.left-sec-title {
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 30px;
  color: white;
}

.dash {
  height: 40px;
  width: 50px;
  color: white;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

ul {
  list-style-type: none;
  margin: 30px 0px;
}

ul li {
  padding: 10px;
  color: white;
  letter-spacing: -1px;
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  transition: .25s;
}

ul li:hover {
  background: rgba(0, 0, 0,.15);
}

li p {
  margin: 0;
  font-size: 15px;
  font-weight: 200;
}

.nav-link-logo {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.right-sec {
  background: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
}

.right-sec-top {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.right-sec-top input {
  border-radius: 30px;
  padding: 5px 10px;
  outline: none;
  background: rgb(231, 231, 231);
  border: none;
  width: 90%;
}

.srch {
  background: none;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.right-top-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 60%;
}

.right-top-left button {
  font-size: 20px;
}

.right-top-right {
  display: grid;
  grid-template-columns: 50px 200px;
  gap: 10px;
}

.nav-link-logo-big {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.prof {
  height: 40px;
  width: 40px;
  background-blend-mode: color-dodge;
  border-radius: 20px;
}

.profile {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.profile p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -1px;
  width: 100%;
  cursor: pointer;
}

.right-sec-bottom {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 95%;
}

.right-sec-bottom h1 {
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 400;
  color: gray;
}

.col-left, .col-mid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.097);
  height: 100%;
  width: 100%;
  background: white;
  border-left: 9px solid rgb(0, 140, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
  margin-bottom: 10px;
}

.box-info h1 {
  color: black;
  font-size: 15px;
}

.box-info p {
  font-size: 13px;
  color: rgb(126, 125, 125);
}

.actions {
  height: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.right-sec-bottom-left h1 {
  margin-bottom: 10px;
}

.right-sec-bottom-left {
  height: 100%;
}

.col-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.top-col h1, .bottom-col h1 {
  margin-bottom: 10px;
}

.top-col-div, .bottom-col-div {
  background: white;
  border-radius: 10px;
  height: 90%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.097);
}

.top-col-div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.card:nth-child(2) {
  border-top: 1px solid rgb(192, 192, 192);
  border-bottom: 1px solid rgb(192, 192, 192);
}

.card p {
  font-size: 13px;
}

.card p:nth-child(2) {
  font-size: 12px;
  color: rgb(127, 127, 127);
}

.bottom-col-div {
  padding: 20px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
}

.bottom-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.bottom-card p:nth-child(2) {
  color: rgb(127, 127, 127);
}

.bottom-card p {
  font-size: 13px;
}